<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div id="navbar">
        <div class="header">
            <font color="white">
                <h1>Cropp</h1>
            </font>
        </div>
        <a href="#home">Home</a>
        <a href="#news">News</a>
        <div class="dropdown">
            <button class="dropbtn">
                ЖЕНЩИНА
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <div class="row">
                    <div class="column">
                        <h3>ОДЕЖДА</h3>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    <div class="column">
                        <h3>АКСЕССУАРЫ</h3>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">
                МУЖЧИНА
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <div class="row">
                    <div class="column">
                        <h3>ОДЕЖДА</h3>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    <div class="column">
                        <h3>АКСЕССУАРЫ</h3>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="topnav-right">
            <a asp-action="Login" asp-controller="Account"><i class="fa fa-fw fa-user"></i></a>
            <a href="#"><i class="fa fa-trash"></i></a>
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="Logout" asp-controller="Account" method="post">
                    <button type="submit">
                        <i class="fa fa-fw fa-user"></i>
                    </button>
                </form>
            }
        </div>
    </div>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>


    @*<script src="~/js/menu.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

<script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
        } else {
            document.getElementById("navbar").style.top = "-200px";
        }
        prevScrollpos = currentScrollPos;
    }
</script>