@{ 
    Layout = null;
}
<div class="overlay" style="display:block;">
    <div class="overlay-content">
        <h1>To complete the registration, check your e-mail and follow the link provided in the letter</h1>
    </div>
</div>
<style>
    body {
        font-family: 'Lato', sans-serif;
    }

    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay h1 {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .overlay h1:hover, .overlay h1:focus {
            color: #f1f1f1;
        }
</style>