@{ 
    Layout = null;
}
<link rel="stylesheet" href="~/css/messageContent.css" />
<div class="overlay" style="display:block;">
    <div class="overlay-content">
        <h1>To complete the registration, check your e-mail and follow the link provided in the letter</h1>
    </div>
</div>
