<link rel="stylesheet" href="~/css/messageContent.css" />

<div class="overlay" style="display:block;">
    <div class="overlay-content">
        <h1>Something went wrong!!!</h1>
    </div>
    <div class="overlay-content">
        <a asp-action="Index" asp-controller="Home">
            <h1>Click the link</h1>
        </a>
    </div>
</div>