<link rel="stylesheet" href="~/css/forgotPass.css" />
<link rel="stylesheet" href="~/css/adaptive.css" />

<div id="forgot-pass" class="modal">
    <span onclick="document.getElementById('forgot-pass').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form asp-controller="Account" asp-action="ForgotPassword" class="modal-content">
        <div class="forgot-input">
            <div class="container">
                <h1> Я забув пароль </h1>
                <div class="form-group">
                    <input type="text" placeholder="Електронна пошта" name="email" required />
                    <input type="submit" value="Надіслати">
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    var modal = document.getElementById('forgot-pass');
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>