@model CroppShop.Models.AccountModel.ResetPasswordViewModel
@*localhost:44318/Account/ResetPassword*@
<div style="padding-top:300px;">
    <div class="container">
        <div class="col">
            <form asp-controller="Account" asp-action="ResetPassword" method="post">
                <input asp-for="Code" type="hidden" />
                <input asp-for="Email" type="hidden" value="@ViewBag.Email" />
                <div class="form-group">
                    <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="password" asp-for="PasswordConfirm" class="form-control" placeholder="Confirm Password" />
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
                <input type="submit" value="Отправить" />
            </form>
        </div>
    </div>
</div>
<style>
    .col {
        margin-left: 35%;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    input,
    .btn {
        padding: 12px;
        border: none;
        border-radius: 4px;
        margin: 5px 0;
        opacity: 0.85;
        display: inline-block;
        font-size: 19px;
        line-height: 20px;
        text-decoration: none;
        height: 60px;
        width: 60%;
        justify-content: center;
        align-items: center;
    }

        input[type=submit] {
            border: 4px solid black;
            background-color: black;
            color: white;
            cursor: pointer;
            width: 60%;
        }

            input[type=submit]:hover {
                background-color: white;
                color: black;
                text-align: center;
                width: 60%;
            }
</style>