@model CroppShop.Models.AdditionalModel.AdminViewModel

<div style="padding-top:200px;">
    <div class="container1">
        <button onclick="document.getElementById('regist-admin-form').style.display='block'">Register Admin</button>
        @foreach (var admin in Model.Users)
        {
            <div class="column">
                <div class="card">
                    <img src="~/pictures/img_avatar2.png" style="width:100%;height:300px;">
                    <div class="container2">
                        <h2>@admin.Surname @admin.Name</h2>
                        <p class="title">Administrator</p>
                        <p>@admin.Email</p>
                        <p><button class="button" onclick="document.getElementById('@admin.Id').style.display='block'">Delete</button></p>
                        @await Html.PartialAsync("BossOperationOverAdmin/DeleteConfirmForm",admin.Id)
                    </div>
                </div>
            </div>
        }
        @await Html.PartialAsync("BossOperationOverAdmin/RegisterAdminForm")
      
    </div>
</div>
    <style>
        .column {
            float: left;
            width: 25%;
            margin-bottom: 16px;
            padding: 0 8px;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .container2 {
            padding: 0 16px;
        }

            .container2::after, .row::after {
                content: "";
                clear: both;
                display: table;
            }

        .title {
            color: grey;
        }

        .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
        }

            .button:hover {
                background-color: #555;
            }
    </style>


<style>
    .container1 {
        margin-left: 10%;
        margin-right: 10%;
    }

        .container1 button {
            display: block;
            padding: 12px;
            border: none;
            margin: 5px 0;
            display: inline-block;
            font-size: 19px;
            line-height: 20px;
            text-decoration: none;
            height: auto;
            text-align: center;
            border: 4px solid black;
            background-color: black;
            color: white;
            cursor: pointer;
            width: 100%;
        }

            .container1 button:hover {
                display: block;
                padding: 12px;
                margin: 5px 0;
                display: inline-block;
                font-size: 19px;
                line-height: 20px;
                text-decoration: none;
                height: auto;
                border: 4px solid black;
                background-color: white;
                color: black;
                width: 100%;
            }
</style>