@model CroppShop.Models.AdditionalModel.AdminViewModel

<link rel="stylesheet" href="~/css/adminList.css" />
<link rel="stylesheet" href="~/css/adaptive.css" />

<div style="padding-top:200px;">
    <div class="container1">
        <button onclick="document.getElementById('regist-admin-form').style.display='block'">Register Admin</button>
        @foreach (var admin in Model.Users)
        {
            <div class="column">
                <div class="card">
                    <img src="~/pictures/img_avatar2.png" style="width:100%;height:300px;">
                    <div class="container2">
                        <h2>@admin.Surname @admin.Name</h2>
                        <p class="title">Administrator</p>
                        <p>@admin.Email</p>
                        <p><button class="button" onclick="document.getElementById('@admin.Id').style.display='block'">Delete</button></p>
                        @await Html.PartialAsync("BossOperationOverAdmin/DeleteConfirmForm",admin.Id)
                    </div>
                </div>
            </div>
        }
        @await Html.PartialAsync("BossOperationOverAdmin/RegisterAdminForm")
    </div>
</div>
   