@model CroppShop.Models.AdditionalModel.AdminViewModel
<link rel="stylesheet" href="~/css/regisAdminForm.css" />
<link rel="stylesheet" href="~/css/adaptive.css" />

<div id="regist-admin-form" class="modal">
    <span onclick="document.getElementById('regist-admin-form').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form asp-controller="Account" asp-action="RegisterAdmin" class="modal-content">
        <div class="input1">
            <div class="register-admin-container">
                <h1>Register Admin</h1>
                <div class="col">
                    <div class="form-group">
                        <input type="text" asp-for="AdminRegisterViewModel.Email" placeholder="Електронна пошта" name="Email" required />
                    </div>
                    <div class="form-group">
                        <input type="text" asp-for="AdminRegisterViewModel.Surname" placeholder="Фамилия" name="Surname" required />
                    </div>
                    <div class="form-group">
                        <input type="text" asp-for="AdminRegisterViewModel.Name" placeholder="Имя" name="Name" required />
                    </div>
                    <div class="form-group">
                        <input type="password" asp-for="AdminRegisterViewModel.Password" name="Password" placeholder="Пароль" id="adminpass" required />
                        <i class="fa fa-eye showpwd" onClick="showPwd('adminpass', this)">   </i>
                    </div>
                    <input type="submit" value="Register">
                </div>
            </div>
        </div>
    </form>
</div>
<script src="~/js/login.js"></script>
