
.container-identity .forget-text {
    text-align: center;
    text-decoration: underline;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

    .container-identity .forget-text button {
        color: black;
        text-decoration: underline;
        background-color: transparent;
        border: medium none;
    }

        .container-identity .forget-text button:hover {
            color: green;
            background-color: transparent;
            border: medium none;
        }

.container-identity .btn-login button {
    border: 4px solid black;
    background-color: white;
    color: black;
    width: 70%;
    margin-left: 15%;
    font-size: 18px;
    height: 60px;
    cursor: pointer;
}

.container-identity .btn-regis button {
    border: 4px solid black;
    background-color: white;
    color: black;
    width: 70%;
    margin-left: 15%;
    font-size: 18px;
    cursor: pointer;
    height: 60px;
}

.container-identity .btn-login button:hover {
    background-color: black;
    color: white;
}

.container-identity .btn-regis button:hover {
    background-color: black;
    color: white;
}

.container-identity .col h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

.container-identity .regist-show-pass2 {
    position: relative;
    width: 100%;
}

    .container-identity .regist-show-pass2 i {
        position: absolute;
        padding-top: 25px;
        margin-left: -30px;
    }

.container-identity .regist-show-pass1 {
    position: relative;
    width: 100%;
}

    .container-identity .regist-show-pass1 i {
        position: absolute;
        padding-top: 25px;
        margin-left: -30px;
    }

.container-identity .login-show-pass {
    position: relative;
    width: 100%;
}

    .container-identity .login-show-pass i {
        position: absolute;
        padding-top: 25px;
        margin-left: -30px;
    }

* {
    box-sizing: border-box
}
.container-identity .input1 input,
.container-identity .btn {
    width: 70%;
    padding: 12px;
    border: none;
    margin: 5px 0;
    margin-left: 15%;
    display: inline-block;
    font-size: 19px;
    line-height: 20px;
    text-decoration: none;
    height: 60px;
    background-color: #D0D0D0;
    border-radius: 0;
}

.container-identity .input2 input,
.container-identity .btn {
    width: 70%;
    padding: 12px;
    border: none;
    margin: 5px 0;
    margin-left: 15%;
    display: inline-block;
    font-size: 19px;
    line-height: 20px;
    text-decoration: none;
    height: 60px;
    background-color: white;
    border-radius: 0;
}

.container-identity .col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 70px;
    margin-top: 6px;
}

.container-identity input[type=submit] {
    border: 4px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-left: 15%;
    width: 70%;
    border-radius: 0;
}

    .container-identity input[type=submit]:hover {
        background-color: white;
        color: black;
        margin-left: 15%;
        width: 70%;
    }

